@using MilitaryProject.Domain.Entity
@using MilitaryProject.Domain.ViewModels.Weapon
@model List<Weapon>

@{
    ViewData["Title"] = "Weapons";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Weapons</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Weight</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var weapon in Model)
                    {
                            <tr>
                                <td>@weapon.Name</td>
                                <td>@weapon.Type</td>
                                <td>@weapon.Price</td>
                                <td>@weapon.Weight</td>
                                <td><a asp-controller="Weapon" asp-action="EditWeapon" asp-route-id="@weapon.ID">Edit</a></td>
                                <td><a asp-controller="Weapon" asp-action="DeleteWeapon" asp-route-id="@weapon.ID">Delete</a></td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
