@using MilitaryProject.Domain.ViewModels.Stats
@model List<StatsWeaponViewModel>

@{
    ViewData["Title"] = "Weapons";
}

<style>
    .custom-container {
        margin-top: 50px;
    }

    .custom-row {
        justify-content: center;
    }

    .custom-col-md-8 {
        text-align: center;
    }

    .custom-btn {
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
    }

    .custom-btn-success {
        background-color: #28a745;
        color: #fff;
    }

    .custom-btn-outline-primary {
        background-color: transparent;
        border: 1px solid #007bff;
        color: #007bff;
    }

    .custom-btn-primary {
        background-color: #007bff;
        color: #fff;
    }

    .custom-btn-danger {
        background-color: #dc3545;
        color: #fff;
    }

    .custom-table {
        width: 100%;
        margin-top: 16px;
    }

        .custom-table th,
        .custom-table td {
            padding: 10px;
            text-align: center;
            font-size: 24px;
        }

        .custom-table thead {
            background-color: #007bff;
            color: #fff;
        }

        .custom-table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .custom-table tbody tr:hover {
            background-color: #e2e2e2;
        }

    .custom-text-center {
        text-align: center;
        font-size: 3.5em;
    }

    .custom-btn-primary:hover {
        background-color: mediumspringgreen;
    }

    .custom-btn-danger:hover {
        background-color: red;
        color: white;
    }
</style>

<div class="custom-container mt-5">
    <div class="custom-row justify-content-center">
        <div class="custom-col-md-8">
            <h2 class="custom-text-center">Weapons</h2>
            <a class="custom-btn custom-btn-success" asp-controller="StatsWeapon" asp-action="Create">Create</a>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th class="custom-name">Name</th>
                        <th class="custom-count">Count</th>
                        <th class="custom-needed-count">Needed count</th>
                        <th class="custom-details">Details</th>
                        <th class="custom-edit">Edit</th>
                        <th class="custom-action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var weapon in Model)
                    {
                        <tr>
                            <td class="custom-name">@weapon.WeaponName</td>
                            <td class="custom-count">@weapon.WeaponCount</td>
                            <td class="custom-needed-count">@weapon.NeededWeaponCount</td>
                            <td class="custom-details"><a class="custom-btn custom-btn-outline-primary" asp-controller="StatsWeapon" asp-action="GetById" asp-route-weaponID="@weapon.WeaponID">Details</a></td>
                            <td class="custom-edit"><a class="custom-btn custom-btn-primary" asp-controller="StatsWeapon" asp-action="Update" asp-route-weaponID="@weapon.WeaponID">Edit</a></td>
                            <td class="custom-action"><a class="custom-btn custom-btn-danger" asp-controller="StatsWeapon" asp-action="Delete" asp-route-weaponID="@weapon.WeaponID">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
