@using MilitaryProject.Domain.Entity
@using MilitaryProject.Domain.ViewModels.Brigade
@model Brigade

@{
    ViewData["Title"] = "Brigade";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Brigade</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Commander Name</th>
                        <th>Establishment Date</th>
                        <th>Location</th>
                        <th>Edit</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.ID</td>
                        <td>@Model.Name</td>
                        <td>@Model.CommanderName</td>
                        <td>@Model.EstablishmentDate</td>
                        <td>@Model.Location</td>
                        <td><a class="btn btn-primary" asp-controller="Brigade" asp-action="UpdateBrigade" asp-route-id="@Model.ID">Edit</a></td>
                        <td><a class="btn btn-danger" asp-controller="Brigade" asp-action="DeleteBrigade" asp-route-id="@Model.ID">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
